* {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  background-color: #CAF0F8;
  background-size: 150%;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  color: black;
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

section {
  padding: 25%;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;

  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.pool-title {
  width: 50vh;
  text-align: center;
  position: fixed;
  top: 0; /* Stick to the top of the viewport */
  left: 50%; /* Move to the middle horizontally */
  transform: translateX(-50%); /* Center horizontally */
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  color:black;
}

.pool-title a{
  text-decoration: none;
  color: inherit;
}

.content  {
  position: absolute;
  top: 50%; /* change to 50% to center */
  transform: translateY(-50%);
  width: 100%;
  left: 0;
  text-align: left;
}

.content ol{
  font-size: 18px;
}

.box {
  font-weight: lighter;
  text-align: left;
  color: black;
  background: rgba(255, 255, 255, 0.7);
  /* border: 2px solid rgba(255, 255, 255, 0.7); */
  border-radius: 20px;
  padding: 1% 5%;
  margin-top: 15px;
}

.box li {
  margin: 5px 0;
}

.small-button {
  font-size: 24px;
  border-radius: 10px;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  margin-right: 10px;
  margin-left: 20px;
}

#onboard-buttons {
  display: flex;
  justify-content: center;
  margin-right: 30px;
  margin-top: 30px;
}

#signup-button{
  border: 2px solid rgb(8,36,76);
  background: rgb(8,36,76);
}

#signin-button{
  border: 2px solid white;
  background-color: white;
  color: rgb(8,36,76);
}

#statement h1{
  font-size: 32px;
  color: rgb(8,36,76);
}

#statement p{
  font-size: 20px;
  color: black;
}

:root { scroll-behavior: smooth; }

.scroll-link {
  position: absolute;
  bottom: -170px; /* Adjust the distance from the bottom as needed */
  left: 50%; /* Center horizontally within the section */
  transform: translateX(-50%);
  font-size: 20px;
  color: black;
  text-align: center;
  text-decoration: none;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

#about-us-content {
  color: white;
  background: rgba(8, 36, 76, 1);
  text-align: center;
}

#about-us-content a{
  color: white;
}


/* form stuff */

.custom-input,
input[type="text"],
input[type="email"],
input[type="tel"]{
  width: 225px; /* Set the width to the same value for all elements */
  height: 40px; /* Set the height to the same value for all elements */
  margin-bottom: 10px;
  border-radius: 15px;
  border: 2px solid #000;
  background: #FFF;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 18px;
  color: #000000;
  text-align: center;
}

.submit-button {
  border-radius: 15px;
  background: rgb(8, 36, 76);
  border: 2px solid rgb(8, 36, 76);

  width: 225px;
  height: 40px; 
  cursor: pointer;

  color: #FFF;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.custom-select {
  width: 225px; /* Set the width to the same value for all elements */
  height: 40px; /* Set the height to the same value for all elements */
  margin-bottom: 10px;
  border-radius: 15px;
  border: 2px solid rgb(8, 36, 76);
  background: #FFF;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 18px;
  color: #000000;
  text-align: center;
}

#plan-form, #sign-in-form, #sign-up-form, #account-options {
  text-align: center;
}

#cancellation-button, #new-match-button {
  margin-bottom: 20px; 
  margin-top: 10px; 
  background-color: white; 
  color: rgb(8,36,76);
}

#report-feedback-button a, #plan-trip-button a { /* on account page */
  text-decoration: none;
  color: inherit;
}